<div class="col-4 mb-2">
  <a href="{{ link }}" class="text-decoration-none">
    <div class="card h-100">
      <div class="card-body text-center">
        <div class="text-dark text-lg font-weight-bold">{{ name }}</div>
      </div>
    </div>
  </a>
</div>
